name: Maven build

on:
  push:
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  mvn-with-sonar:
    name: Build with Sonar analysis
    uses: netcracker/qubership-workflow-hub/.github/workflows/maven-publish.yml@v2.0.5
    with:
      maven-command: >
        --batch-mode verify
        -Dgpg.skip=true
        org.sonarsource.scanner.maven:sonar-maven-plugin:${{ vars.SONAR_PLUGIN_VERSION }}:sonar
        -Dsonar.projectKey=${{ vars.SONAR_PROJECT_KEY }}
        -Dsonar.organization=${{ vars.SONAR_ORGANIZATION }}
        -Dsonar.host.url=${{ vars.SONAR_HOST_URL }}
      server-id: github
      java-version: 21
    secrets:
      maven-token: ${{ secrets.GITHUB_TOKEN }}
      sonar-token: ${{ secrets.SONAR_TOKEN }}
